langchain
langgraph
langsmith 
numpy
pandas
scikit-learn
tensorflow
python-dotenv
langchain-groq
langchain_tavily
requests
google-api-python-client 

google-auth-oauthlib 
gspread 
requests
PyMupdf

flask
oauth2client

